__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
*.wav
thumbs.db
.DS_Store
.idea

serving_test/
port_test/
shell/

v2m_pipeline.py
kfp_test/


#############################################################################################################################################
# by sol in jd server
kubernetes/kubeflow/server_secret_key.p
serving/app/yte.py
serving/input/KakaoTalk_Video_2023-01-21-20-07-13.mp4
#############################################################################################################################################